.createStory {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.createStory__loggedIn {
  background-color: white;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  padding: 12px 16px;
}

.createStory__imageUpload > input {
  display: none;
}

.createStory__uploadBtn {
  border: none;
  background-color: white;
}

.createStory__loggedInBottom {
  display: flex;
  justify-content: space-between;
}

.createStory__textarea {
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px;
  margin-top: 6px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.createStory__textarea :focus {
  outline: none;
}

#image-preview {
  display: none;
  height: 80px;
  margin: 12px 0px;
  border-radius: 4px;
}
