.signInBtn {
  background-color: #00b373;
  max-width: 150px;
  text-align: center;
  padding: 1%;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  height: 1.7em;
  margin-top: 1.5%;
}

.signInBtn:hover {
  background-image: url("https://drive.google.com/file/d/1iOhs35EQC2ryW-yreqv0wif_0grLU_Ng/view?usp=sharing");
  background-size: cover;
}
