.story {
  background-color: white;
  max-width: 600px;
  width: 90vw;
  padding: 16px;
  margin-bottom: 8px;
}

.story__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__headerLeft {
  display: flex;
  align-items: center;
}

.story__profilePic {
  height: 35px;
  border-radius: 8px;
}

.story__delete {
  border: none;
  background-color: white;
  cursor: pointer;
}

.story__delete:focus {
  outline: none;
}

.story__photoUrl {
  width: 100%;
  object-fit: cover;
  margin: 16px 0px;
}
